.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.Home {
    display: flex;
}

.Home-left {
    width: 50%;
}

.Name {
    position: relative;
    top: 260px;
    left: 240px;

    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 86px;
    line-height: 115px;

    color: #000000;
}

.Title {
    position: relative;
    top: 170px;
    left: 240px;

    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 48px;

    color: #000000;
}

.Info-text {
    position: relative;
    top: 240px;
    left: 240px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;

    color: #000000;
}

.Info-link {
    position: relative;
    top: 240px;
    left: 240px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;

    color: #61dafb;
}

.Home-right {
    background-color: #6D7993;
    width: 50%;
}

.Portrait {
    position: relative;
    display: block;
    max-width: 420px;
    max-height: 560px;
    width: auto;
    height: auto;
    top: 260px;
    left: 270px;
  }

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
